<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fiszki">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/idiom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activityPanel.PanelUser"
            android:label="@string/correct_profil"
            android:parentActivityName=".activityPanel.MainActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".Ustawienia"
            android:parentActivityName=".activityPanel.MainActivity"
            android:label="@string/setting"
            android:theme="@style/MyAppTheme"/>
        <activity android:name=".activityPanel.AdminPanel"
            android:parentActivityName=".activityPanel.MainActivity"
            android:label="@string/panel_admin"
            android:theme="@style/MyAppTheme"/>
        <activity
            android:name=".activityPanel.AdminAddQuestion"
            android:parentActivityName=".activityPanel.MainActivity"
            android:label="@string/add_new_idiom"
            android:theme="@style/MyAppTheme"/>
        <activity
            android:name=".activityPanel.AddOption"
            android:parentActivityName=".activityPanel.MainActivity"
            android:label="@string/add_new_option"
            android:theme="@style/MyAppTheme"/>
        <activity android:name=".activityPanel.QuestionListActivity"
            android:parentActivityName=".activityPanel.MainActivity"
            android:label="@string/listAdmin"
            android:theme="@style/MyAppTheme"/>
        <activity
            android:name=".activityPanel.UpdateQuestionActivity"
            android:parentActivityName=".activityPanel.QuestionListActivity"
            android:label="@string/add_update_idiom"
            android:theme="@style/MyAppTheme"/>
        <activity
            android:name=".activityPanel.UpdateOptionsActivity"
            android:parentActivityName=".activityPanel.QuestionListActivity"
            android:label="@string/edit_options"
            android:theme="@style/MyAppTheme"/>
        <activity
            android:name=".activityPanel.Statystic"
            android:label="@string/statystyki"
            android:parentActivityName=".activityPanel.MainActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activityPanel.RepeatBoard"
            android:label="@string/repeat"
            android:parentActivityName=".activityPanel.MainActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activityPanel.StartPageQuiz"
            android:label="@string/start_page"
            android:parentActivityName=".activityPanel.MainActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".activityPanel.QuizActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".activityPanel.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>